# renew_before_expiry = 30 days
version = 0.40.0
archive_dir = /etc/letsencrypt/archive/{{pccs_domain_name}}
cert = /etc/letsencrypt/live/{{pccs_domain_name}}/cert.pem
privkey = /etc/letsencrypt/live/{{pccs_domain_name}}/privkey.pem
chain = /etc/letsencrypt/live/{{pccs_domain_name}}/chain.pem
fullchain = /etc/letsencrypt/live/{{pccs_domain_name}}/fullchain.pem

# Options used in the renewal process
[renewalparams]
account = 8e7c5cb1d13133139d81160d91271eab
authenticator = nginx
installer = nginx
server = https://acme-v02.api.letsencrypt.org/directory